# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\PK\ZTP\lab4 AJAX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
